.page {
  @include flex(flex-start, center, column);
  background: $color-bg-dark;
  flex: 1;

  &::after {
    position: absolute;
    content: '';
    background: center no-repeat url('../../assets/bg.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
  }
}
