.page {
  @include flex(flex-start, center, column);
  background: $color-bg-dark;
  flex: 1;
  z-index: 0;

  &::after {
    position: absolute;
    content: '';
    background: center no-repeat url('../../assets/bg.png');
    background-size: cover;
    inset: 0;
    max-height: 100vh;
    z-index: -1;
  }

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100px;
    left: 0;
    top: calc(100vh - 100px);
    background: linear-gradient(to bottom, rgb(0 0 0 / 0%), $color-bg-dark);
    z-index: 0;
  }
}
