html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: Montserrat, serif;
}

input:disabled,
select:disabled {
  cursor: not-allowed;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.lock {
  touch-action: none;
  overflow: hidden;
}

.Toastify {
  .Toastify__toast-container {
    min-width: 420px;
    width: 30%;

    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }

  .Toastify__toast {
    font-size: 2rem;
    padding: 15px 10px;
  }
}
