$color-black-default: #000;
$color-white-default: #fff;
$color-input-bg: #3a3a3a;
$color-primary-bright: #f6a100;
$color-bg-dark: #121212;
$color-gray-dark: #4f4f4f;
$color-gray-middle: #b5b5b5;
$color-gray-light: #e8e6e6;
$color-bg-dark-alpha: #05050580;
$color-invalid-input: #f00;
$color-error: #ffa500;
$color-green-dark: #686736;
