.wrapper {
  position: relative;
  width: clamp(300px, 80vw, 700px);
  padding: 10px;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--color-bg-dark-transparent);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.form {
  @include flex(flex-start, null, column, 5px);
  position: relative;
  color: var(--color-white-default);
}

.user-data-section {
  @include flex(flex-start, null, column);
  position: relative;
  flex: 1 1 300px;

  .email-error,
  .first-name-error,
  .last-name-error,
  .date-of-birth-error {
    align-self: flex-start;
    height: 2rem;
    color: var(--color-error);
  }

  .password-error {
    height: 4rem;
    color: var(--color-error);
    text-align: left;
  }

  .eye {
    position: absolute;
    top: 140px;
    right: 10px;
  }

  @media (max-width: 1238px) {
    flex: 1 1 100%;
  }
}

.submit-button {
  @extend %transition;
  align-self: flex-end;
  width: 240px;
  padding: 10px 5px;
  background-color: var(--color-white-default);
  border-radius: 5px;
  color: var(--color-bg-dark);

  &:enabled:hover {
    background-color: var(--color-gray-middle);
  }

  &:disabled {
    cursor: default;
    color: var(--color-gray-dark);
    background-color: var(--color-gray-middle);
  }
}
