.main {
  @extend %container;
  position: relative;
  flex-grow: 1;
  color: var(--color-white-default);
  width: 90%;
  @include flex(null, null, column, 20px);
}

.empty-search {
  @include flex(center, center);
  @include font(2.8rem, 700, 1, 0.05rem);
  width: 70%;
  margin: 0 auto;
  color: var(--color-white-default);
  text-align: center;
  flex-grow: 1;
}

.history-title {
  @include font(4.4rem, 700, 1, 0.05rem);
  align-self: center;
  margin: 10px 0;
}

.history-list {
  background: rgb(8 8 8 / 40%);
  padding: 20px;
  border-radius: 10px;
}
