.suggestion-list {
  position: absolute;
  width: 100%;
  @include flex(center, flex-start, column, 10px);
  color: $color-white-default;
  background-color: $color-bg-dark;
  border: 1px solid $color-gray-dark;
  border-radius: 5px;
  box-shadow: 0 2px 5px $color-gray-dark;
}

.suggestion-item {
  width: 100%;
}

.suggestion-button {
  @extend %transition;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid $color-gray-dark;
  text-align: left;

  @include hover {
    background: $color-primary-bright;
  }
}
