.header {
  width: 100%;
  position: relative;
  z-index: 1;
  background: rgb(8 8 8 / 40%);
}

.header-container {
  @extend %container;
  @include flex(space-between, center, null, 10px);
  backdrop-filter: blur(12.5px);
}

.logo {
  width: 72px;
  height: 34px;
}

.logo-link {
  @include focused;
  @include laptop {
    margin-right: auto;
    padding: 0 20px;
  }

  @include mobile {
    display: none;
  }
}
