.character-item {
  @extend %transition;
  width: 100%;
  padding: 15px;
  backdrop-filter: blur(12.5px);
  border-radius: 5px;
  border: 1px solid var(--color-gray-dark);
  color: var(--color-white-default);
  max-height: 500px;
  cursor: pointer;
  @include flex(center, flex-start, column, 10px);
  @include font(2rem, 700, 1, 0.05rem);

  @include hover {
    box-shadow: 1px 1px 7px var(--color-primary-bright);
  }
}

.character-img-container {
  width: 50%;
  align-self: center;

  .character-img {
    width: 100%;
    aspect-ratio: 8 / 11;
    border-radius: 5px;
  }
}

.character-feature-block {
  @include flex(space-between, center);
  width: 100%;
  font-size: 1.6rem;
  color: var(--color-gray-middle);
}

.character-name {
  font-size: 2.4rem;
}

.gender-icon {
  padding: 5px;
  border-radius: 20px;
  border: 1px solid var(--color-gray-dark);
  background-color: var(--color-input-bg);
}

.male,
.female {
  display: block;
  width: 20px;
  height: 20px;
}

.male {
  background: no-repeat center url('../../assets/male.svg');
  background-size: cover;
}

.female {
  background: no-repeat center url('../../assets/female.svg');
  background-size: cover;
}

.add-to-favorite-button {
  @extend %transition;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 1px solid var(--color-gray-dark);
  background-color: var(--color-input-bg);
  border-radius: 5px;
  position: absolute;
  top: 25px;
  right: 25px;

  @include hover {
    background-color: var(--color-primary-bright);
  }
  @include flex(center, center);
}

@keyframes fly-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.heart-animation {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  animation: fly-up 0.5s ease-out forwards;
}

.heart {
  path {
    fill: var(--color-white-default);
  }

  .favorite {
    path {
      fill: var(--color-invalid-input);
    }
  }
}

.favorite {
  path {
    fill: var(--color-invalid-input);
  }
}
