.main {
  width: 100%;
  position: relative;
  display: flex;
  flex-grow: 1;
}

.main-container {
  @extend %container;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include big-mobile {
    grid-template-columns: repeat(1, 1fr);
  }
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 10px 30px;
}

.empty-search {
  @include flex(center, center);
  @include font(2.8rem, 700, 1, 0.05rem);
  width: 70%;
  margin: 0 auto;
  color: $color-white-default;
  text-align: center;
  flex-grow: 1;
}
