.not-found {
  @include flex(flex-start, center, column);
  @include font(1.6vw, 700, 1, 0.05rem);
  width: 100vw;
  height: 100vh;
  color: $color-white-default;
  background-color: $color-gray-middle;
}

.container {
  @extend %container;
}

.not-found-image {
  width: auto;
  height: 70vh;
}

.not-found-link {
  @extend %transition;
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 20px;
  background: $color-bg-dark;
  border-radius: 5px;
  border: 2px solid $color-bg-dark;
  text-align: center;

  &:not([disabled]):hover {
    background: $color-white-default;
    color: $color-bg-dark;
    border: 2px solid $color-bg-dark;
  }
}
